{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Souhaitez-vous confirmer la suppresion de cet utilisteur?
    <h1 class="subtitle is-5">{{ user.name }}</h1>
    <div class="field is-grouped is-grouped-centered">
        <form action="{{ url_for('admin.confirm_delete_user', uuid=user.id) }}" method="POST" class="control">
            <button class="button is-success">Confirmer</button>
        </form>
        <p class="control">
            <a href="{{ url_for('admin.main') }}" class="button is-danger">
                Annuler
            </a>
        </p>
    </div>
</h1>
{% endblock %}