{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ludothèque - ESAIP
</h1>
<h2 class="subtitle">
  Voici les jeux disponibles actuellement
</h2>
<div id="app" class="row columns is-multiline">
  {% for game in games %}
  <div class="is-4 column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://bulma.io/assets/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 has-text-black">{{ game.name }}</p>
            <p class="subtitle is-6 has-text-black">{{ game.category }}, {{ game.length }}</p>
          </div>
        </div>
    
        <div class="content">
          De {{ game.minPlayer }} à {{ game.maxPlayer }} joueurs, à partir de {{ game.age }} ans.
          <br />
          <time datetime="2016-1-1">{{ game.year }}</time>
        </div>
      </div>
      <footer class="card-footer">
        {% if game.favorite %}
        <a href="{{ url_for('main.remove_favorite', gameId=game.id) }}" class="card-footer-item">Enlever des favoris</a>
        {% else %}
        <a href="{{ url_for('main.add_favorite', gameId=game.id) }}" class="card-footer-item">Ajouter des favoris</a>
        {% endif %}
        <a href="{{ url_for('main.reservation_confirmation', name=game.name)}}" class="card-footer-item">Réserver</a>
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}