{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bonjour, {{ name }}!
  Que souhaitez-vous faire aujourd'hui?
</h1>
<h2 class="subtitle">Utilisateurs</h2>
<div id="app" class="row columns is-multiline">
  {% for user in users %}
  <div class="is-4 column">
    <div class="card">
      <div class="card-content">
        <div class="content">
          {{ user.name }}, {{ user.email }}
          <br />
          Jeux possédés:{% for game in user.games %} {{ game.name }},{% endfor %}
        </div>
      </div>
      <footer class="card-footer">
        <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" class="card-footer-item">Modifier</a>
        <a href="{{ url_for('admin.delete_user_confirm', uuid=user.id)}}" class="card-footer-item">Supprimer</a>
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
<h2 class="subtitle">
  Jeux
</h2>
<div id="games" class="row columns is-multiline">
  {% for game in games %}
  <div class="is-4 column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img
            src="https://bulma.io/assets/images/placeholders/1280x960.png"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4 has-text-black">{{ game.name }}, {{ game.year }}</p>
            <p class="subtitle is-6 has-text-black">{{ game.category }}, {{ game.length }}</p>
          </div>
        </div>
    
        <div class="content">
          De {{ game.minPlayer }} à {{ game.maxPlayer }} joueurs, à partir de {{ game.age }} ans.
          <br />
          {{ game.grade }}/5 ({{ game.gradeCount }})
        </div>
      </div>
      <footer class="card-footer">
        <a href="{{ url_for('admin.edit_game', game_id=game.id) }}" class="card-footer-item">Modifier</a>
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}